.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  background-color: red;
}

.title {
  font-size: xx-large;
  color: blue;
}
