.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: xx-large;
  color: #023047;
}

.load {
  padding: 1rem 3rem;
  border-radius: 2rem;
  color: #fff;
  background: #023047;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  cursor: pointer;
}
